---
import Page from "../layouts/Page.astro";
import { getFaqs } from "../content/config";
import { slugify } from "../utils/collections";

const faqs = await getFaqs();
---

<Page>
  <div class="max-w-2xl px-6 mx-auto mt-10">
    <ul class="grid grid-cols-2 gap-2">
      {
        faqs.map((faq) => {
          return (
            <li class="card bg-base-100 border shadow-xl">
              <div class="card-body p-4">
                <a href={`/faqs/${slugify(faq.data)}`}>
                  <h2 class="card-title text-lg">{faq.data.title}</h2>
                </a>
                <div class="mt-0">
                  {faq.data.tags.map((tag) => {
                    return (
                      <a href={`/${tag}`} class="btn btn-xs">
                        {tag}
                      </a>
                    );
                  })}
                </div>
                <p class="text-sm">
                  <a
                    class="link capitalize"
                    href={`/faqs/${slugify(faq.data)}`}
                  >
                    read more
                  </a>
                </p>
              </div>
            </li>
          );
        })
      }
    </ul>
  </div>
</Page>
